body{
    margin: 0;
  
}
.container{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    background-size:100%;
}

.cotainer-flex{
    display: flex;
    justify-content:space-between;
}

.img-background{
    max-width: 1200px;
    width: 100%;
    display: block;
    margin:0 auto;
}
.img-right-one{
    position: absolute;
    right: 10%;
    top: 15%;
    border-radius: 24px;
    box-shadow: 0px 16px 48px rgba(0,0,0, 0.16);
    opacity: 1;
    background-size: 10%;
}
.img-right-two{
    position: absolute;
    right: 7%;
    top: 70%;
    border-radius: 24px;
    box-shadow: 0px 16px 48px rgba(0,0,0, 0.16);
    opacity: 1;
    background-size: 10%;
    z-index: 1;
}
.img-right-three{
    position: absolute;
    right: 10%;
    top: 113%;
    
    opacity: 1;
    background-size: 10%;

}
.cotainer-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    padding-right: 40px; 
   }
   nav a:hover,
   nav a:focus{
    color: #1792d2;
}
li{
   list-style: none;
   margin: 2px 2px 2px 2px;
   padding-right: 20px;
   padding-top: 10px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight:700;
    padding: .25em 0;
}
.cotainer-nav-left{
        display: flex;
        justify-content:left;
        
}
.container-two{
  
  display:flex;
  justify-content:space-between;
}
#p-one{
    opacity: 1;
    color: rgba(255,255,255,1);
    font-family: "Inter-Bold";
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 74px;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 500px;

  }
  #p-two{
    opacity: 1;
    color: rgba(255,255,255,1);
    font-family: "Inter-Regular";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 32px;
    position:absolute;
    left: 100px;
    top: 350px;
    width: 500px;
  }
  .p-three{
    opacity: 1;
    color: rgba(96,107,134,1);
    font-family: "Inter-MediumItalic";
    font-size: 18px;
    font-weight: 150;
    font-style: italic;
    letter-spacing: 0px;
    line-height: 32px;
    margin: 0 auto;
    
  } 
  .p-four{
    opacity: 1;
    color: rgb(8, 6, 6);
    font-family: "Inter-Regular";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 32px;
    /*position:absolute;
    left: 100px;
    top: 350px;*/
    width: 100%;
  }
  .p-four-one{
    opacity: 1;
    color: rgba(32,83,209,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-align: left;
    text-transform: uppercase;
  }
  .p-four-two{
    opacity: 1;
    color: rgba(38,43,54,1);
    font-family: "Inter-Bold";
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
  }
  .p-four-three,
  .h1-one{
    opacity: 1;
    color: rgba(96,107,134,1);
    font-family: "Inter-Regular";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 28px;
    height: 20%;
    
  }
  .h1-one{
    margin-bottom: 20px;
  }
  .p-four-five,
  .h3-one{
    opacity: 1;
    color: rgba(32,83,209,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 100px;

    }
  .p-four-four,
  .p-four-six{
   
    width: 300px;
    height: 70px;
    padding-left: 100px;
    font-size: 42;
    color: rgba(38,43,54,1);
    font-family: "Inter-Bold"; 
    margin-top: 20px; 
    }
    .p-four-six{
      width: 700px;
      
      margin-bottom: 20px;

    }
  .h3-one{
    
    margin-left: 50px;

  }
  .bod-p-img{
    align-items:center;
    max-width: 1078px;
    margin-top: 7%;
    display: flex;
    justify-content:space-between;
  }
  
  em{
    color: rgb(78, 202, 78);
  }
  button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#get-started{
    background-color: rgba(58,207,110, 1);
    position: absolute;
    left: 100px;
    top: 550px;
  }
  #l-more{
  
    background-color: Transparent;
    position: absolute;
    left: 350px;
    top: 550px;
  }
  .container-three{
    background: none;
    display: flex;
    justify-content:space-around;
  }
  .container-five{
    position: absolute;
    padding-right: 60px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    right: 0;
    
  }
  .container-three-one{
    display: flex;
    flex-direction: column;
    
  }
  .img-background-1{
    max-width: 1140px;
    width: 1104px;
    padding-left: 60px;
    padding-right: 0px;
    margin-top: 200px;
    transform: rotate(90deg);
  }
  .container-four{
    display:flex;
    justify-content:space-between;
    
  }
  .container-six{
    border: 1px solid green;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 360px;
    left: 360px;
    background-color: white;
  }
  .container-seven,
  .container-seven-one{
    border: 7px solid rgb(235, 238, 243);
    border-radius: 12px;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-wrap: wrap; 
    background-color: white;
  }
  .container-seven{
    border: none;
    width: 1000px;
  }
  .img-center-two{
    width: 80px;
    height: 80px;
  }
 .img-left-one{
  position:absolute;
  width: 50%;
  z-index: 1;
  opacity: 1;
  background-size: 10%;
  width: 700px;
  height: 500px;
  padding-left: 40px;
}
 .img-left-two{
  padding-left: 40px;
  margin-top: 500px;
}
  .img-center-one{
    height: 450px;
    width: 600px;
    padding-top: 40px;
}